{% extends 'boards/base.html' %}
{% block body %}
    <h1>Detail</h1>
    <h2>{{ board.id }} 번째 글</h2>
    <hr>
    <h2>{{ board.title }}</h2>
    <p>{{ board.content }}</p>
    <p>{{ board.created_at }}</p>
    <p>{{ board.updated_at }}</p>
    <a href="{% url 'boards:index' %}">[BACK]</a>
    <a href="{% url 'boards:edit' board.pk %}">[EDIT]</a>
    <!--<a href="{# url 'boards:delete' board.pk #}" onclick="return confirm('U SURE?')">[DELETE]</a>-->
    <form action='{% url 'boards:delete' board.pk %}' method='POST' style='display: inline' onsubmit="return confirm('U SURE?');">
        {% csrf_token %}
        <input type="submit" value="[DELETE]"/>
    </form>
    
    <hr>
    {% for comment in comments %}
        <li>
            {{ comment.content }}
            <form action="{% url 'boards:comments_delete' board.pk comment.pk %}" method='POST' onsubmit="return confirm('U SURE?');" style='display: inline'>
                {% csrf_token %}
                <input type="submit" value="[DELETE]">
            </form>
        </li>
        {% empty %}
            <p><b>댓글이 없습니다.</b></p>
    {% endfor %}
    
    
    <hr>
    
    
    <p>댓글 작성 / {{ comments | length }}개의 댓글</p>
    <form action="{% url 'boards:comments_create' board.pk %}" method='POST'>
        {% csrf_token %}
        comment : <input type="text" name="content"/>
        <input type="submit" value="제출">
    </form>
    
{% endblock %} 